<div>
    <h2>
        <span jhiTranslate="testApp.typeFormation.home.title">Type Formations</span>
        <button class="btn btn-primary float-right jh-create-entity create-type-formation" [routerLink]="['/', { outlets: { popup: ['type-formation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.typeFormation.home.createLabel">
            Create new Type Formation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="typeFormations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.typeFormation.typeFormat">Type Format</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeFormation of typeFormations ;trackBy: trackId">
                <td><a [routerLink]="['../type-formation', typeFormation.id ]">{{typeFormation.id}}</a></td>
                <td jhiTranslate="{{'testApp.EnumTypeFormation.' + typeFormation.typeFormat}}">{{typeFormation.typeFormat}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../type-formation', typeFormation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-formation/'+ typeFormation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-formation/'+ typeFormation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
