
<div *ngIf="typeFormation">
    <h2><span jhiTranslate="testApp.typeFormation.detail.title">Type Formation</span> {{typeFormation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.typeFormation.typeFormat">Type Format</span></dt>
        <dd>
            <span jhiTranslate="{{'testApp.EnumTypeFormation.' + typeFormation.typeFormat}}">{{typeFormation.typeFormat}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'type-formation/'+ typeFormation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
