<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTypeFormationLabel" jhiTranslate="testApp.typeFormation.home.createOrEditLabel">Create or edit a Type Formation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!typeFormation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="typeFormation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.typeFormation.typeFormat" for="field_typeFormat">Type Format</label>
            <select class="form-control" name="typeFormat" [(ngModel)]="typeFormation.typeFormat" id="field_typeFormat"  required>
                <option value="FPCT">{{'testApp.EnumTypeFormation.FPCT' | translate}}</option>
                <option value="FPCE">{{'testApp.EnumTypeFormation.FPCE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.typeFormat?.dirty && editForm.controls.typeFormat?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.typeFormat?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
