<div>
    <h2>
        <span jhiTranslate="testApp.nationalite.home.title">Nationalites</span>
        <button class="btn btn-primary float-right jh-create-entity create-nationalite" [routerLink]="['/', { outlets: { popup: ['nationalite-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.nationalite.home.createLabel">
            Create new Nationalite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nationalites">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.nationalite.nomNationalite">Nom Nationalite</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nationalite of nationalites ;trackBy: trackId">
                <td><a [routerLink]="['../nationalite', nationalite.id ]">{{nationalite.id}}</a></td>
                <td>{{nationalite.nomNationalite}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../nationalite', nationalite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nationalite/'+ nationalite.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nationalite/'+ nationalite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
