<div>
    <h2>
        <span jhiTranslate="testApp.banque.home.title">Banques</span>
        <button class="btn btn-primary float-right jh-create-entity create-banque" [routerLink]="['/', { outlets: { popup: ['banque-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.banque.home.createLabel">
            Create new Banque
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="banques">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.banque.codeBanque">Code Banque</span></th>
            <th><span jhiTranslate="testApp.banque.nomBanque">Nom Banque</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let banque of banques ;trackBy: trackId">
                <td><a [routerLink]="['../banque', banque.id ]">{{banque.id}}</a></td>
                <td>{{banque.codeBanque}}</td>
                <td>{{banque.nomBanque}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../banque', banque.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'banque/'+ banque.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'banque/'+ banque.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
