<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBanqueLabel" jhiTranslate="testApp.banque.home.createOrEditLabel">Create or edit a Banque</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!banque.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="banque.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.banque.codeBanque" for="field_codeBanque">Code Banque</label>
            <input type="text" class="form-control" name="codeBanque" id="field_codeBanque"
                [(ngModel)]="banque.codeBanque" required/>
            <div [hidden]="!(editForm.controls.codeBanque?.dirty && editForm.controls.codeBanque?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeBanque?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.banque.nomBanque" for="field_nomBanque">Nom Banque</label>
            <input type="text" class="form-control" name="nomBanque" id="field_nomBanque"
                [(ngModel)]="banque.nomBanque" required/>
            <div [hidden]="!(editForm.controls.nomBanque?.dirty && editForm.controls.nomBanque?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomBanque?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
