
<div *ngIf="banque">
    <h2><span jhiTranslate="testApp.banque.detail.title">Banque</span> {{banque.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.banque.codeBanque">Code Banque</span></dt>
        <dd>
            <span>{{banque.codeBanque}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.banque.nomBanque">Nom Banque</span></dt>
        <dd>
            <span>{{banque.nomBanque}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'banque/'+ banque.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
