<div>
    <h2>
        <span jhiTranslate="testApp.typeEvaluation.home.title">Type Evaluations</span>
        <button class="btn btn-primary float-right jh-create-entity create-type-evaluation" [routerLink]="['/', { outlets: { popup: ['type-evaluation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.typeEvaluation.home.createLabel">
            Create new Type Evaluation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="typeEvaluations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.typeEvaluation.typeEval">Type Eval</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeEvaluation of typeEvaluations ;trackBy: trackId">
                <td><a [routerLink]="['../type-evaluation', typeEvaluation.id ]">{{typeEvaluation.id}}</a></td>
                <td jhiTranslate="{{'testApp.EnumTypeEvaluation.' + typeEvaluation.typeEval}}">{{typeEvaluation.typeEval}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../type-evaluation', typeEvaluation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-evaluation/'+ typeEvaluation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-evaluation/'+ typeEvaluation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
