
<div *ngIf="typeEvaluation">
    <h2><span jhiTranslate="testApp.typeEvaluation.detail.title">Type Evaluation</span> {{typeEvaluation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.typeEvaluation.typeEval">Type Eval</span></dt>
        <dd>
            <span jhiTranslate="{{'testApp.EnumTypeEvaluation.' + typeEvaluation.typeEval}}">{{typeEvaluation.typeEval}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'type-evaluation/'+ typeEvaluation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
