<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTypeEvaluationLabel" jhiTranslate="testApp.typeEvaluation.home.createOrEditLabel">Create or edit a Type Evaluation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!typeEvaluation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="typeEvaluation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.typeEvaluation.typeEval" for="field_typeEval">Type Eval</label>
            <select class="form-control" name="typeEval" [(ngModel)]="typeEvaluation.typeEval" id="field_typeEval"  required>
                <option value="LMD">{{'testApp.EnumTypeEvaluation.LMD' | translate}}</option>
                <option value="HYBRIDE">{{'testApp.EnumTypeEvaluation.HYBRIDE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.typeEval?.dirty && editForm.controls.typeEval?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.typeEval?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
