<div>
    <h2>
        <span jhiTranslate="testApp.membre.home.title">Membres</span>
        <button class="btn btn-primary float-right jh-create-entity create-membre" [routerLink]="['/', { outlets: { popup: ['membre-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.membre.home.createLabel">
            Create new Membre
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="membres">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.membre.matricule">Matricule</span></th>
            <th><span jhiTranslate="testApp.membre.telephone">Telephone</span></th>
            <th><span jhiTranslate="testApp.membre.typeMembre">Type Membre</span></th>
            <th><span jhiTranslate="testApp.membre.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let membre of membres ;trackBy: trackId">
                <td><a [routerLink]="['../membre', membre.id ]">{{membre.id}}</a></td>
                <td>{{membre.matricule}}</td>
                <td>{{membre.telephone}}</td>
                <td jhiTranslate="{{'testApp.EnumMembre.' + membre.typeMembre}}">{{membre.typeMembre}}</td>
                <td>
                    {{membre.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../membre', membre.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'membre/'+ membre.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'membre/'+ membre.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
