
<div *ngIf="membre">
    <h2><span jhiTranslate="testApp.membre.detail.title">Membre</span> {{membre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.membre.matricule">Matricule</span></dt>
        <dd>
            <span>{{membre.matricule}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.membre.telephone">Telephone</span></dt>
        <dd>
            <span>{{membre.telephone}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.membre.typeMembre">Type Membre</span></dt>
        <dd>
            <span jhiTranslate="{{'testApp.EnumMembre.' + membre.typeMembre}}">{{membre.typeMembre}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.membre.user">User</span></dt>
        <dd>
            {{membre.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'membre/'+ membre.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
