<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInscriptionLabel" jhiTranslate="testApp.inscription.home.createOrEditLabel">Create or edit a Inscription</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!inscription.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="inscription.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.inscription.etat" for="field_etat">Etat</label>
            <select class="form-control" name="etat" [(ngModel)]="inscription.etat" id="field_etat"  required>
                <option value="ENCOURS">{{'testApp.EnumEtat.ENCOURS' | translate}}</option>
                <option value="ABANDON">{{'testApp.EnumEtat.ABANDON' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.etat?.dirty && editForm.controls.etat?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.etat?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.inscription.classe" for="field_classe">Classe</label>
            <select class="form-control" id="field_classe" name="classe" [(ngModel)]="inscription.classe"  required>
                <option *ngIf="!editForm.value.classe" [ngValue]="null" selected></option>
                <option [ngValue]="classeOption.id === inscription.classe?.id ? inscription.classe : classeOption" *ngFor="let classeOption of classes; trackBy: trackClasseById">{{classeOption.codeClasse}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.classe?.dirty && editForm.controls.classe?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.classe?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.inscription.etudiant" for="field_etudiant">Etudiant</label>
            <select class="form-control" id="field_etudiant" name="etudiant" [(ngModel)]="inscription.etudiant"  required>
                <option *ngIf="!editForm.value.etudiant" [ngValue]="null" selected></option>
                <option [ngValue]="etudiantOption.id === inscription.etudiant?.id ? inscription.etudiant : etudiantOption" *ngFor="let etudiantOption of etudiants; trackBy: trackEtudiantById">{{etudiantOption.ine}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.etudiant?.dirty && editForm.controls.etudiant?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.etudiant?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.inscription.anneeAccademique" for="field_anneeAccademique">Annee Accademique</label>
            <select class="form-control" id="field_anneeAccademique" name="anneeAccademique" [(ngModel)]="inscription.anneeAccademique"  required>
                <option *ngIf="!editForm.value.anneeAccademique" [ngValue]="null" selected></option>
                <option [ngValue]="anneeAccademiqueOption.id === inscription.anneeAccademique?.id ? inscription.anneeAccademique : anneeAccademiqueOption" *ngFor="let anneeAccademiqueOption of anneeaccademiques; trackBy: trackAnneeAccademiqueById">{{anneeAccademiqueOption.nomAnneeAccademique}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.anneeAccademique?.dirty && editForm.controls.anneeAccademique?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.anneeAccademique?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
