<div>
    <h2>
        <span jhiTranslate="testApp.inscription.home.title">Inscriptions</span>
        <button class="btn btn-primary float-right jh-create-entity create-inscription" [routerLink]="['/', { outlets: { popup: ['inscription-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.inscription.home.createLabel">
            Create new Inscription
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="inscriptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.inscription.etat">Etat</span></th>
            <th><span jhiTranslate="testApp.inscription.classe">Classe</span></th>
            <th><span jhiTranslate="testApp.inscription.etudiant">Etudiant</span></th>
            <th><span jhiTranslate="testApp.inscription.anneeAccademique">Annee Accademique</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inscription of inscriptions ;trackBy: trackId">
                <td><a [routerLink]="['../inscription', inscription.id ]">{{inscription.id}}</a></td>
                <td jhiTranslate="{{'testApp.EnumEtat.' + inscription.etat}}">{{inscription.etat}}</td>
                <td>
                    <div *ngIf="inscription.classe">
                        <a [routerLink]="['../classe', inscription.classe?.id ]" >{{inscription.classe?.codeClasse}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inscription.etudiant">
                        <a [routerLink]="['../etudiant', inscription.etudiant?.id ]" >{{inscription.etudiant?.ine}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inscription.anneeAccademique">
                        <a [routerLink]="['../annee-accademique', inscription.anneeAccademique?.id ]" >{{inscription.anneeAccademique?.nomAnneeAccademique}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../inscription', inscription.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inscription/'+ inscription.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inscription/'+ inscription.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
