
<div *ngIf="inscription">
    <h2><span jhiTranslate="testApp.inscription.detail.title">Inscription</span> {{inscription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.inscription.etat">Etat</span></dt>
        <dd>
            <span jhiTranslate="{{'testApp.EnumEtat.' + inscription.etat}}">{{inscription.etat}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.inscription.classe">Classe</span></dt>
        <dd>
            <div *ngIf="inscription.classe">
                <a [routerLink]="['/classe', inscription.classe?.id]">{{inscription.classe?.codeClasse}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.inscription.etudiant">Etudiant</span></dt>
        <dd>
            <div *ngIf="inscription.etudiant">
                <a [routerLink]="['/etudiant', inscription.etudiant?.id]">{{inscription.etudiant?.ine}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.inscription.anneeAccademique">Annee Accademique</span></dt>
        <dd>
            <div *ngIf="inscription.anneeAccademique">
                <a [routerLink]="['/annee-accademique', inscription.anneeAccademique?.id]">{{inscription.anneeAccademique?.nomAnneeAccademique}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'inscription/'+ inscription.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
