
<div *ngIf="journal">
    <h2><span jhiTranslate="testApp.journal.detail.title">Journal</span> {{journal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.journal.codeJournal">Code Journal</span></dt>
        <dd>
            <span>{{journal.codeJournal}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.journal.nomJournal">Nom Journal</span></dt>
        <dd>
            <span>{{journal.nomJournal}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'journal/'+ journal.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
