<div>
    <h2>
        <span jhiTranslate="testApp.journal.home.title">Journals</span>
        <button class="btn btn-primary float-right jh-create-entity create-journal" [routerLink]="['/', { outlets: { popup: ['journal-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.journal.home.createLabel">
            Create new Journal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="journals">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.journal.codeJournal">Code Journal</span></th>
            <th><span jhiTranslate="testApp.journal.nomJournal">Nom Journal</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let journal of journals ;trackBy: trackId">
                <td><a [routerLink]="['../journal', journal.id ]">{{journal.id}}</a></td>
                <td>{{journal.codeJournal}}</td>
                <td>{{journal.nomJournal}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../journal', journal.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'journal/'+ journal.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'journal/'+ journal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
