
<div *ngIf="fournisseur">
    <h2><span jhiTranslate="testApp.fournisseur.detail.title">Fournisseur</span> {{fournisseur.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.fournisseur.codeFournisseur">Code Fournisseur</span></dt>
        <dd>
            <span>{{fournisseur.codeFournisseur}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.fournisseur.adresse">Adresse</span></dt>
        <dd>
            <span>{{fournisseur.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.fournisseur.nomFournisseur">Nom Fournisseur</span></dt>
        <dd>
            <span>{{fournisseur.nomFournisseur}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.fournisseur.telephone">Telephone</span></dt>
        <dd>
            <span>{{fournisseur.telephone}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fournisseur/'+ fournisseur.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
