<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFournisseurLabel" jhiTranslate="testApp.fournisseur.home.createOrEditLabel">Create or edit a Fournisseur</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fournisseur.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fournisseur.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.fournisseur.codeFournisseur" for="field_codeFournisseur">Code Fournisseur</label>
            <input type="text" class="form-control" name="codeFournisseur" id="field_codeFournisseur"
                [(ngModel)]="fournisseur.codeFournisseur" required/>
            <div [hidden]="!(editForm.controls.codeFournisseur?.dirty && editForm.controls.codeFournisseur?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeFournisseur?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.fournisseur.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="fournisseur.adresse" required/>
            <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adresse?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.fournisseur.nomFournisseur" for="field_nomFournisseur">Nom Fournisseur</label>
            <input type="text" class="form-control" name="nomFournisseur" id="field_nomFournisseur"
                [(ngModel)]="fournisseur.nomFournisseur" required/>
            <div [hidden]="!(editForm.controls.nomFournisseur?.dirty && editForm.controls.nomFournisseur?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomFournisseur?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.fournisseur.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                [(ngModel)]="fournisseur.telephone" required/>
            <div [hidden]="!(editForm.controls.telephone?.dirty && editForm.controls.telephone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telephone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
