<div>
    <h2>
        <span jhiTranslate="testApp.fournisseur.home.title">Fournisseurs</span>
        <button class="btn btn-primary float-right jh-create-entity create-fournisseur" [routerLink]="['/', { outlets: { popup: ['fournisseur-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.fournisseur.home.createLabel">
            Create new Fournisseur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fournisseurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.fournisseur.codeFournisseur">Code Fournisseur</span></th>
            <th><span jhiTranslate="testApp.fournisseur.adresse">Adresse</span></th>
            <th><span jhiTranslate="testApp.fournisseur.nomFournisseur">Nom Fournisseur</span></th>
            <th><span jhiTranslate="testApp.fournisseur.telephone">Telephone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fournisseur of fournisseurs ;trackBy: trackId">
                <td><a [routerLink]="['../fournisseur', fournisseur.id ]">{{fournisseur.id}}</a></td>
                <td>{{fournisseur.codeFournisseur}}</td>
                <td>{{fournisseur.adresse}}</td>
                <td>{{fournisseur.nomFournisseur}}</td>
                <td>{{fournisseur.telephone}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fournisseur', fournisseur.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fournisseur/'+ fournisseur.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fournisseur/'+ fournisseur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
