
<div *ngIf="etudiant">
    <h2><span jhiTranslate="testApp.etudiant.detail.title">Etudiant</span> {{etudiant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.etudiant.genre">Genre</span></dt>
        <dd>
            <span jhiTranslate="{{'testApp.EnumGenre.' + etudiant.genre}}">{{etudiant.genre}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.etudiant.dateNaissance">Date Naissance</span></dt>
        <dd>
            <span>{{etudiant.dateNaissance | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.etudiant.lieuNaissance">Lieu Naissance</span></dt>
        <dd>
            <span>{{etudiant.lieuNaissance}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.etudiant.adresse">Adresse</span></dt>
        <dd>
            <span>{{etudiant.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.etudiant.telephone">Telephone</span></dt>
        <dd>
            <span>{{etudiant.telephone}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.etudiant.priseEnCharge">Prise En Charge</span></dt>
        <dd>
            <span>{{etudiant.priseEnCharge}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.etudiant.malade">Malade</span></dt>
        <dd>
            <span>{{etudiant.malade}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.etudiant.nationalite">Nationalite</span></dt>
        <dd>
            <div *ngIf="etudiant.nationalite">
                <a [routerLink]="['/nationalite', etudiant.nationalite?.id]">{{etudiant.nationalite?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'etudiant/'+ etudiant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
