<div>
    <h2>
        <span jhiTranslate="testApp.etudiant.home.title">Etudiants</span>
        <button class="btn btn-primary float-right jh-create-entity create-etudiant" [routerLink]="['/', { outlets: { popup: ['etudiant-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.etudiant.home.createLabel">
            Create new Etudiant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="etudiants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.etudiant.genre">Genre</span></th>
            <th><span jhiTranslate="testApp.etudiant.dateNaissance">Date Naissance</span></th>
            <th><span jhiTranslate="testApp.etudiant.lieuNaissance">Lieu Naissance</span></th>
            <th><span jhiTranslate="testApp.etudiant.adresse">Adresse</span></th>
            <th><span jhiTranslate="testApp.etudiant.telephone">Telephone</span></th>
            <th><span jhiTranslate="testApp.etudiant.priseEnCharge">Prise En Charge</span></th>
            <th><span jhiTranslate="testApp.etudiant.malade">Malade</span></th>
            <th><span jhiTranslate="testApp.etudiant.nationalite">Nationalite</span></th>
            <th><span jhiTranslate="testApp.etudiant.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let etudiant of etudiants ;trackBy: trackId">
                <td><a [routerLink]="['../etudiant', etudiant.id ]">{{etudiant.id}}</a></td>
                <td jhiTranslate="{{'testApp.EnumGenre.' + etudiant.genre}}">{{etudiant.genre}}</td>
                <td>{{etudiant.dateNaissance | date:'mediumDate'}}</td>
                <td>{{etudiant.lieuNaissance}}</td>
                <td>{{etudiant.adresse}}</td>
                <td>{{etudiant.telephone}}</td>
                <td>{{etudiant.priseEnCharge}}</td>
                <td>{{etudiant.malade}}</td>
                <td>
                    <div *ngIf="etudiant.nationalite">
                        <a [routerLink]="['../nationalite', etudiant.nationalite?.id ]" >{{etudiant.nationalite?.id}}</a>
                    </div>
                </td>
                <td>
                    {{etudiant.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../etudiant', etudiant.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'etudiant/'+ etudiant.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'etudiant/'+ etudiant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
