<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEtudiantLabel" jhiTranslate="testApp.etudiant.home.createOrEditLabel">Create or edit a Etudiant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!etudiant.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="etudiant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.genre" for="field_genre">Genre</label>
            <select class="form-control" name="genre" [(ngModel)]="etudiant.genre" id="field_genre"  required>
                <option value="MASCULIN">{{'testApp.EnumGenre.MASCULIN' | translate}}</option>
                <option value="FEMININ">{{'testApp.EnumGenre.FEMININ' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.genre?.dirty && editForm.controls.genre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.genre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.dateNaissance" for="field_dateNaissance">Date Naissance</label>
            <div class="input-group">
                <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker  #dateNaissanceDp="ngbDatepicker" [(ngModel)]="etudiant.dateNaissance"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateNaissance?.dirty && editForm.controls.dateNaissance?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
            <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                [(ngModel)]="etudiant.lieuNaissance" required/>
            <div [hidden]="!(editForm.controls.lieuNaissance?.dirty && editForm.controls.lieuNaissance?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lieuNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="etudiant.adresse" required/>
            <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adresse?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                [(ngModel)]="etudiant.telephone" required/>
            <div [hidden]="!(editForm.controls.telephone?.dirty && editForm.controls.telephone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telephone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.priseEnCharge" for="field_priseEnCharge">Prise En Charge</label>
            <input type="checkbox" class="form-control" name="priseEnCharge" id="field_priseEnCharge"
                [(ngModel)]="etudiant.priseEnCharge" />
            <div [hidden]="!(editForm.controls.priseEnCharge?.dirty && editForm.controls.priseEnCharge?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.priseEnCharge?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.malade" for="field_malade">Malade</label>
            <input type="checkbox" class="form-control" name="malade" id="field_malade"
                [(ngModel)]="etudiant.malade" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.etudiant.nationalite" for="field_nationalite">Nationalite</label>
            <select class="form-control" id="field_nationalite" name="nationalite" [(ngModel)]="etudiant.nationalite" >
                <option [ngValue]="null"></option>
                <option [ngValue]="nationaliteOption.id === etudiant.nationalite?.id ? etudiant.nationalite : nationaliteOption" *ngFor="let nationaliteOption of nationalites; trackBy: trackNationaliteById">{{nationaliteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
