<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFormationLabel" jhiTranslate="testApp.formation.home.createOrEditLabel">Create or edit a Formation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!formation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="formation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.formation.codeFormation" for="field_codeFormation">Code Formation</label>
            <input type="text" class="form-control" name="codeFormation" id="field_codeFormation"
                [(ngModel)]="formation.codeFormation" required/>
            <div [hidden]="!(editForm.controls.codeFormation?.dirty && editForm.controls.codeFormation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeFormation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.formation.nomFormation" for="field_nomFormation">Nom Formation</label>
            <input type="text" class="form-control" name="nomFormation" id="field_nomFormation"
                [(ngModel)]="formation.nomFormation" required/>
            <div [hidden]="!(editForm.controls.nomFormation?.dirty && editForm.controls.nomFormation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomFormation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.formation.mensualite" for="field_mensualite">Mensualite</label>
            <input type="number" class="form-control" name="mensualite" id="field_mensualite"
                [(ngModel)]="formation.mensualite" required/>
            <div [hidden]="!(editForm.controls.mensualite?.dirty && editForm.controls.mensualite?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mensualite?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.mensualite?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.formation.departement" for="field_departement">Departement</label>
            <select class="form-control" id="field_departement" name="departement" [(ngModel)]="formation.departement"  required>
                <option *ngIf="!editForm.value.departement" [ngValue]="null" selected></option>
                <option [ngValue]="structureOption.id === formation.departement?.id ? formation.departement : structureOption" *ngFor="let structureOption of structures; trackBy: trackStructureById">{{structureOption.nomStructure}}</option>
            </select>
            
        </div>
        <br>
        <div [hidden]="!(editForm.controls.departement?.dirty && editForm.controls.departement?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.departement?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.formation.responsable" for="field_responsable">Responsable</label>
            <select class="form-control" id="field_responsable" name="responsable" [(ngModel)]="formation.responsable"  required>
                <option *ngIf="!editForm.value.responsable" [ngValue]="null" selected></option>
                <option [ngValue]="membreOption.id === formation.responsable?.id ? formation.responsable : membreOption" *ngFor="let membreOption of membres; trackBy: trackMembreById">{{membreOption.matricule}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.responsable?.dirty && editForm.controls.responsable?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.responsable?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.formation.typeFormation" for="field_typeFormation">Type Formation</label>
            <select class="form-control" id="field_typeFormation" name="typeFormation" [(ngModel)]="formation.typeFormation"  required>
                <option *ngIf="!editForm.value.typeFormation" [ngValue]="null" selected></option>
                <option [ngValue]="typeFormationOption.id === formation.typeFormation?.id ? formation.typeFormation : typeFormationOption" *ngFor="let typeFormationOption of typeformations; trackBy: trackTypeFormationById">{{typeFormationOption.typeFormat}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.typeFormation?.dirty && editForm.controls.typeFormation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.typeFormation?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.formation.typeEvaluatiion" for="field_typeEvaluatiion">Type Evaluatiion</label>
            <select class="form-control" id="field_typeEvaluatiion" name="typeEvaluatiion" [(ngModel)]="formation.typeEvaluatiion"  required>
                <option *ngIf="!editForm.value.typeEvaluatiion" [ngValue]="null" selected></option>
                <option [ngValue]="typeEvaluationOption.id === formation.typeEvaluatiion?.id ? formation.typeEvaluatiion : typeEvaluationOption" *ngFor="let typeEvaluationOption of typeevaluations; trackBy: trackTypeEvaluationById">{{typeEvaluationOption.typeEval}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.typeEvaluatiion?.dirty && editForm.controls.typeEvaluatiion?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.typeEvaluatiion?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
