
<div *ngIf="formation">
    <h2><span jhiTranslate="testApp.formation.detail.title">Formation</span> {{formation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.formation.codeFormation">Code Formation</span></dt>
        <dd>
            <span>{{formation.codeFormation}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.formation.nomFormation">Nom Formation</span></dt>
        <dd>
            <span>{{formation.nomFormation}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.formation.mensualite">Mensualite</span></dt>
        <dd>
            <span>{{formation.mensualite}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.formation.departement">Departement</span></dt>
        <dd>
            <div *ngIf="formation.departement">
                <a [routerLink]="['/structure', formation.departement?.id]">{{formation.departement?.nomStructure}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.formation.responsable">Responsable</span></dt>
        <dd>
            <div *ngIf="formation.responsable">
                <a [routerLink]="['/membre', formation.responsable?.id]">{{formation.responsable?.matricule}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.formation.typeFormation">Type Formation</span></dt>
        <dd>
            <div *ngIf="formation.typeFormation">
                <a [routerLink]="['/type-formation', formation.typeFormation?.id]">{{formation.typeFormation?.typeFormat}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.formation.typeEvaluatiion">Type Evaluatiion</span></dt>
        <dd>
            <div *ngIf="formation.typeEvaluatiion">
                <a [routerLink]="['/type-evaluation', formation.typeEvaluatiion?.id]">{{formation.typeEvaluatiion?.typeEval}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'formation/'+ formation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
