<div>
    <h2>
        <span jhiTranslate="testApp.formation.home.title">Formations</span>
        <button class="btn btn-primary float-right jh-create-entity create-formation" [routerLink]="['/', { outlets: { popup: ['formation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.formation.home.createLabel">
            Create new Formation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="formations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.formation.codeFormation">Code Formation</span></th>
            <th><span jhiTranslate="testApp.formation.nomFormation">Nom Formation</span></th>
            <th><span jhiTranslate="testApp.formation.mensualite">Mensualite</span></th>
            <th><span jhiTranslate="testApp.formation.departement">Departement</span></th>
            <th><span jhiTranslate="testApp.formation.responsable">Responsable</span></th>
            <th><span jhiTranslate="testApp.formation.typeFormation">Type Formation</span></th>
            <th><span jhiTranslate="testApp.formation.typeEvaluatiion">Type Evaluatiion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formation of formations ;trackBy: trackId">
                <td><a [routerLink]="['../formation', formation.id ]">{{formation.id}}</a></td>
                <td>{{formation.codeFormation}}</td>
                <td>{{formation.nomFormation}}</td>
                <td>{{formation.mensualite}}</td>
                <td>
                    <div *ngIf="formation.departement">
                        <a [routerLink]="['../structure', formation.departement?.id ]" >{{formation.departement?.nomStructure}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="formation.responsable">
                        <a [routerLink]="['../membre', formation.responsable?.id ]" >{{formation.responsable?.matricule}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="formation.typeFormation">
                        <a [routerLink]="['../type-formation', formation.typeFormation?.id ]" >{{formation.typeFormation?.typeFormat}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="formation.typeEvaluatiion">
                        <a [routerLink]="['../type-evaluation', formation.typeEvaluatiion?.id ]" >{{formation.typeEvaluatiion?.typeEval}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../formation', formation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formation/'+ formation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formation/'+ formation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
