
<div *ngIf="anneeAccademique">
    <h2><span jhiTranslate="testApp.anneeAccademique.detail.title">Annee Accademique</span> {{anneeAccademique.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.anneeAccademique.nomAnneeAccademique">Nom Annee Accademique</span></dt>
        <dd>
            <span>{{anneeAccademique.nomAnneeAccademique}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'annee-accademique/'+ anneeAccademique.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
