<div>
    <h2>
        <span jhiTranslate="testApp.anneeAccademique.home.title">Annee Accademiques</span>
        <button class="btn btn-primary float-right jh-create-entity create-annee-accademique" [routerLink]="['/', { outlets: { popup: ['annee-accademique-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.anneeAccademique.home.createLabel">
            Create new Annee Accademique
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="anneeAccademiques">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.anneeAccademique.nomAnneeAccademique">Nom Annee Accademique</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let anneeAccademique of anneeAccademiques ;trackBy: trackId">
                <td><a [routerLink]="['../annee-accademique', anneeAccademique.id ]">{{anneeAccademique.id}}</a></td>
                <td>{{anneeAccademique.nomAnneeAccademique}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../annee-accademique', anneeAccademique.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'annee-accademique/'+ anneeAccademique.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'annee-accademique/'+ anneeAccademique.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
