<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClasseLabel" jhiTranslate="testApp.classe.home.createOrEditLabel">Create or edit a Classe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!classe.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="classe.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.codeClasse" for="field_codeClasse">Code Classe</label>
            <input type="text" class="form-control" name="codeClasse" id="field_codeClasse"
                [(ngModel)]="classe.codeClasse" required/>
            <div [hidden]="!(editForm.controls.codeClasse?.dirty && editForm.controls.codeClasse?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeClasse?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                [(ngModel)]="classe.libelle" required/>
            <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.terminal" for="field_terminal">Terminal</label>
            <input type="checkbox" class="form-control" name="terminal" id="field_terminal"
                [(ngModel)]="classe.terminal" />
            <div [hidden]="!(editForm.controls.terminal?.dirty && editForm.controls.terminal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.terminal?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.nivLMD" for="field_nivLMD">Niv LMD</label>
            <select class="form-control" name="nivLMD" [(ngModel)]="classe.nivLMD" id="field_nivLMD"  required>
                <option value="L1">{{'testApp.EnumNivLMD.L1' | translate}}</option>
                <option value="L2">{{'testApp.EnumNivLMD.L2' | translate}}</option>
                <option value="L3">{{'testApp.EnumNivLMD.L3' | translate}}</option>
                <option value="M1">{{'testApp.EnumNivLMD.M1' | translate}}</option>
                <option value="M2">{{'testApp.EnumNivLMD.M2' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.nivLMD?.dirty && editForm.controls.nivLMD?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nivLMD?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.fraisInscription" for="field_fraisInscription">Frais Inscription</label>
            <input type="number" class="form-control" name="fraisInscription" id="field_fraisInscription"
                [(ngModel)]="classe.fraisInscription" required/>
            <div [hidden]="!(editForm.controls.fraisInscription?.dirty && editForm.controls.fraisInscription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fraisInscription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.fraisInscription?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.entrant" for="field_entrant">Entrant</label>
            <input type="checkbox" class="form-control" name="entrant" id="field_entrant"
                [(ngModel)]="classe.entrant" />
            <div [hidden]="!(editForm.controls.entrant?.dirty && editForm.controls.entrant?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entrant?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.sortant" for="field_sortant">Sortant</label>
            <input type="checkbox" class="form-control" name="sortant" id="field_sortant"
                [(ngModel)]="classe.sortant" />
            <div [hidden]="!(editForm.controls.sortant?.dirty && editForm.controls.sortant?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sortant?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.classe.formation" for="field_formation">Formation</label>
            <select class="form-control" id="field_formation" name="formation" [(ngModel)]="classe.formation"  required>
                <option *ngIf="!editForm.value.formation" [ngValue]="null" selected></option>
                <option [ngValue]="formationOption.id === classe.formation?.id ? classe.formation : formationOption" *ngFor="let formationOption of formations; trackBy: trackFormationById">{{formationOption.codeFormation}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.formation?.dirty && editForm.controls.formation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.formation?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
