
<div *ngIf="classe">
    <h2><span jhiTranslate="testApp.classe.detail.title">Classe</span> {{classe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.classe.codeClasse">Code Classe</span></dt>
        <dd>
            <span>{{classe.codeClasse}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.classe.libelle">Libelle</span></dt>
        <dd>
            <span>{{classe.libelle}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.classe.terminal">Terminal</span></dt>
        <dd>
            <span>{{classe.terminal}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.classe.nivLMD">Niv LMD</span></dt>
        <dd>
            <span jhiTranslate="{{'testApp.EnumNivLMD.' + classe.nivLMD}}">{{classe.nivLMD}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.classe.fraisInscription">Frais Inscription</span></dt>
        <dd>
            <span>{{classe.fraisInscription}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.classe.entrant">Entrant</span></dt>
        <dd>
            <span>{{classe.entrant}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.classe.sortant">Sortant</span></dt>
        <dd>
            <span>{{classe.sortant}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.classe.formation">Formation</span></dt>
        <dd>
            <div *ngIf="classe.formation">
                <a [routerLink]="['/formation', classe.formation?.id]">{{classe.formation?.codeFormation}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'classe/'+ classe.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
