<div>
    <h2>
        <span jhiTranslate="testApp.classe.home.title">Classes</span>
        <button class="btn btn-primary float-right jh-create-entity create-classe" [routerLink]="['/', { outlets: { popup: ['classe-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.classe.home.createLabel">
            Create new Classe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="classes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.classe.codeClasse">Code Classe</span></th>
            <th><span jhiTranslate="testApp.classe.libelle">Libelle</span></th>
            <th><span jhiTranslate="testApp.classe.terminal">Terminal</span></th>
            <th><span jhiTranslate="testApp.classe.nivLMD">Niv LMD</span></th>
            <th><span jhiTranslate="testApp.classe.fraisInscription">Frais Inscription</span></th>
            <th><span jhiTranslate="testApp.classe.entrant">Entrant</span></th>
            <th><span jhiTranslate="testApp.classe.sortant">Sortant</span></th>
            <th><span jhiTranslate="testApp.classe.formation">Formation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let classe of classes ;trackBy: trackId">
                <td><a [routerLink]="['../classe', classe.id ]">{{classe.id}}</a></td>
                <td>{{classe.codeClasse}}</td>
                <td>{{classe.libelle}}</td>
                <td>{{classe.terminal}}</td>
                <td jhiTranslate="{{'testApp.EnumNivLMD.' + classe.nivLMD}}">{{classe.nivLMD}}</td>
                <td>{{classe.fraisInscription}}</td>
                <td>{{classe.entrant}}</td>
                <td>{{classe.sortant}}</td>
                <td>
                    <div *ngIf="classe.formation">
                        <a [routerLink]="['../formation', classe.formation?.id ]" >{{classe.formation?.codeFormation}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../classe', classe.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'classe/'+ classe.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'classe/'+ classe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
