<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStructureLabel" jhiTranslate="testApp.structure.home.createOrEditLabel">Create or edit a Structure</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!structure.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="structure.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.structure.codeStructure" for="field_codeStructure">Code Structure</label>
            <input type="text" class="form-control" name="codeStructure" id="field_codeStructure"
                [(ngModel)]="structure.codeStructure" required/>
            <div [hidden]="!(editForm.controls.codeStructure?.dirty && editForm.controls.codeStructure?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeStructure?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.structure.nomStructure" for="field_nomStructure">Nom Structure</label>
            <input type="text" class="form-control" name="nomStructure" id="field_nomStructure"
                [(ngModel)]="structure.nomStructure" required/>
            <div [hidden]="!(editForm.controls.nomStructure?.dirty && editForm.controls.nomStructure?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomStructure?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
