
<div *ngIf="structure">
    <h2><span jhiTranslate="testApp.structure.detail.title">Structure</span> {{structure.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.structure.codeStructure">Code Structure</span></dt>
        <dd>
            <span>{{structure.codeStructure}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.structure.nomStructure">Nom Structure</span></dt>
        <dd>
            <span>{{structure.nomStructure}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'structure/'+ structure.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
